<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for location access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Google Play Services (required for maps & geofencing) -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attendance"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ot_emp_list"
            android:exported="false" />
        <activity
            android:name=".EmpOvertimeRequest"
            android:exported="false" />
        <activity
            android:name=".AllocateOtPage"
            android:exported="false" />
        <activity
            android:name=".OvertimeRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeListActivity"
            android:exported="false" />
        <activity
            android:name=".AllocateOvertimeActivity"
            android:exported="false" />
        <activity
            android:name=".SalaryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EmpMarkAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveManagementActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".Attendance_details"
            android:exported="false" />
        <activity
            android:name=".MarkAttendanceActivity"
            android:exported="false"
            android:theme="@style/CalendarTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".BranchListActivity"
            android:exported="false" />
        <activity
            android:name=".EditBranchActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeHomeActivity"
            android:exported="false" />
        <activity
            android:name=".SupervisorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ManagerHomeActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlh0EQcVa3F-y-KfjzDMDwutn6BG2lG7g" />

        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".AddBranchActivity"
            android:exported="false" />
        <activity
            android:name=".Create_emp_acc"
            android:exported="false" />
        <activity
            android:name=".Employee_Login"
            android:exported="false" />
        <activity
            android:name=".Create_Manager"
            android:exported="false" />
        <activity
            android:name=".ManagerSupervisorLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAdminActivity"
            android:exported="false" />
        <activity
            android:name=".add_emp"
            android:exported="false" />
        <activity
            android:name=".update_admin"
            android:exported="false" />
        <activity
            android:name=".salary_calculation"
            android:exported="false" />
        <activity
            android:name=".attendance_report"
            android:exported="false" />
        <activity
            android:name=".add_branch"
            android:exported="false" />
        <activity
            android:name=".emp_list"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EmployeeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeDetailActivity"
            android:exported="false" />
        <activity android:name=".EditEmployeeActivity" />
        <activity
            android:name=".main_home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>